:root {
  --bg-color: #2B2C2D;
  --texto-branco: #FDFCFC;
  --texto-secundario: #878282;
  --tema-color: #0F6F8D;
  --inp-color: #141313;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: var(--bg-color);
}

.cartolol-login {
  width: 100%;
}

.Auth-form-container {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.top-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 13vh;
  width: 100%;
  padding: 2vh;
}

.logo-login {
  height: 100%;
  margin-right: 1%;
}

.titulo-login {
  font-size: 80px;
  color: var(--tema-color);
  font-weight: 800;
  margin: 0;
}

.Auth-form-content {
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 100%;
  background-image: linear-gradient(#353535, #141313);
  padding-bottom: 5%;
}

.login-box {
  display: flex;
  flex-direction: row;
}

.Auth-form {
  width: 60%;
  min-width: 420px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.Auth-form-title {
  text-align: center;
  font-size: 35px;
  color: var(--texto-branco);
  font-weight: 800;
}

.btn-def {
  color: var(--texto-branco);
  background-color: var(--tema-color);
  border-radius: 30px;
  font-weight: 500;
  font-size: 17px;
  width: 60%;
}

.btn-def:hover {
  color: var(--tema-color);
  background-color: var(--texto-branco);
}

.text-secondary {
  font-weight: 500;
  font-size: 23px;
}

.inpt-dark {
  border: none;
  color: var(--texto-branco);
  background-color: var(--inp-color);
  border-radius: 30px;
  padding-left: 5%;
  border: 3px solid var(--inp-color);
}

.inpt-dark:focus{
  background-color: #303030;
  color: var(--texto-branco);
}

.inpt-dark:hover{
  border: 3px solid var(--texto-secundario);
  transition: 0.2s;
}

.form-check-label {
  font-size: 14px;
}

.inpt-check {
  padding: 0;
  font-size: 15px;
}

.Auth-form-Cadastro {
  background-color: var(--tema-color);
  width: 40vw;
  height: 100vh;
  background-image: linear-gradient(#0d8eb6, #095268);
}

.cadastro-area {
  color: var(--texto-branco);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 5px;
}

.Cadastro-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.main-text {
  font-size: 400%;
  font-weight: 700;
}

.second-text {
  font-size: 20px;
}

.Cadastro-form-container {
  background-image: linear-gradient(#353535, #141313);
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  width: 50%;
}

.top-bar {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  padding-left: 5vw;
}

.logo {
  width: 45px;
}

.main-title {
  margin: 0;
  font-size: 50px;
  color: var(--tema-color);
  font-weight: 800;
}

.register-form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 80vh;
  min-width: 700px;
}

.Cadastro-form-title {
  text-align: left;
  font-size: 38px;
  color: var(--texto-branco);
  font-weight: 800;
}

.redirect-login-text {
  text-decoration: none;
  color: var(--tema-color);
  font-weight: 600;
  margin-left: 7px;
}

.redirect-login-text:hover {
  color: var(--tema-color);
  text-decoration: underline;
}

.btn-area {
  text-align: center;
  width: 100%;
}

.image-content {
  padding-top: 30px;
  width: 78%;
  height: 100%;
}

.img-random {
  height: 100%;
  object-position: -200px;
}

.btn-cadastro {
  border-radius: 30px;
  width: 50%;
  min-width: 250px;
  color: var(--bg-color);
  background-color: var(--texto-branco);
  font-weight: 500;
  font-size: 20px;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: var(--texto-secundario);
}

.escalacao-container {
  background-image: linear-gradient(#353535, #141313);
  color: var(--texto-branco);
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: relative;
}

.escalacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top {
  background-image: linear-gradient(#0d8eb6, #095268);
  width: 100%;
  height: 8vh;
  min-height: 65px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 2vh;
}

.icon-menu {
  margin-left: 1vw;
  width: 30px;
  cursor: pointer;
}

.icon-area {
  width: 5vw;
}

.area-text {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95vw;
}

.area-text-perfil {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.escolha-text {
  color: var(--texto-branco);
  font-size: 40px;
  font-weight: 700;
  width: 95vw;
  text-align: center;
  margin: 0;
}

.escalacao-area {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.pontuacao-area {
  margin-top: 5vh;
  background-color: var(--inp-color);
  width: 30vw;
  height: 8vh;
  border: 2px solid var(--tema-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pontuacao-text {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.lane-area {
  display: flex;
  justify-content: start;
  align-items: center;
}

.lane-img {
  width: 7vw;
  height: 7vw;
  margin-right: 10px;
}

.player-img-area {
  flex-direction: column;
  width: 15vw;
  height: 55vh;
  background-color: #363535;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.player-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.player-img-area:hover {
  width: 15vw;
  height: 55vh;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:
    inset 0 0 50px #fff,
    /* inner white */
    inset 20px 0 80px #f0f,
    /* inner left magenta short */
    inset -20px 0 80px #0ff,
    /* inner right cyan short */
    inset 20px 0 300px #f0f,
    /* inner left magenta broad */
    inset -20px 0 300px #0ff,
    /* inner right cyan broad */
    0 0 50px #fff,
    /* outer white */
    -10px 0 80px #f0f,
    /* outer left magenta */
    10px 0 80px #0ff;
  /* outer right cyan */

}

.player-img-card{
  width: 100%;
}

.simbolo-adicionar {
  width: 80px;
}

.popup {
  padding: 50px;
  width: 45%;
  min-width: 780px;
  height: 60%;
  min-height: 430px;
  background-image: linear-gradient(180deg, var(--tema-color), rgb(34, 34, 33));
  position: absolute;
  left: 28%;
  top: 20%;
  border-style: solid;
  border-color: var(--tema-color);
  border-radius: 8px;
  overflow-y: scroll;
}

.botao-fechar {
  width: 3vw;
  cursor: pointer;
}

.popup-area {
  margin-bottom: 1%;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  background-image: linear-gradient(#3b3b3b, #1b1a1a);
  height: 28vh;
  min-height: 250px;
  padding: 4%;
  cursor: pointer;
  border: 3px solid var(--inp-color);
}

.img-popup {
  width: 30%;
  height: 100%;
  background-color: var(--texto-secundario);
  margin-right: 3%;
}

.player-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

}

.top-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100%;
}

.time-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-title {
  margin: 0;
}

.information-text {
  font-size: 14px;
}

.kda-text {
  font-size: 14px;
}

.farm-text {
  font-size: 14px;
}

.last-score-text {
  font-size: 14px;

}

.form-login-control {
  font-size: 22px;
  min-height: 4vh;
  width: 100%;
}

.form-control {
  font-size: 26px;
  width: 590px;
}

.submit-btn-def {
  color: var(--texto-branco);
  background-color: var(--tema-color);
  border-radius: 100px;
  font-weight: 500;
  font-size: 30px;
  width: 100%;
}

.submit-btn-def:hover {
  color: var(--tema-color);
  background-color: var(--texto-branco);
}

.pontos {
  font-size: 40px;
}

.logo-escalacao {
  align-items: center;
  margin-left: 40%;
  height: 50px;
  width: 50px;
}

.escolha-top-text {
  margin: 20px;
  padding-bottom: 50px;
  font-size: 50px;
  font-weight: 800;
  color: var(--texto-branco);
  background-color: var(--tema-color);
  border-width: 0px;
  height: 60px;
}

.popup-img {
  height: 10%;
  width: 10%;
}

.lane-name {
  width: 80%;
  margin-left: 10px;
  margin-right: 20px;
  font-size: 60px;
  font-weight: 500;
  justify-content: center;
}

.player-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 20%;
}

.player-name, .player-team {
  margin: 0;
  font-size: 15px;
}

.player-match-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 80%;
}

.player-total-points {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pontuacao-gif {
  width: 20%;
}

.ranking-container {
  background-image: linear-gradient(#353535, #141313);
  color: var(--texto-branco);
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  text-align: center;
  position: relative;
  overflow-x: hidden;
}

.ranking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
}

.podio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 20%;
  gap: 5%;
}

.podio-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.podio-name {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.pontuacao-podio {
  margin: 0;
  font-size: 22px;
  font-weight: 900;
}

.primeiro {
  background-color: var(--texto-secundario);
  width: 9vw;
  height: 9vw;
  border-radius: 200px;
  border: 4px solid var(--tema-color);
}

.segundo-terceiro {
  background-color: var(--texto-secundario);
  width: 7vw;
  height: 7vw;
  border-radius: 200px;
  border: 4px solid var(--tema-color);
}

.colocacao {
  text-decoration: underline;
  font-size: 20px;
  font-weight: 800;
}

.table-area {
  width: 50%;
}

.table {
  color: var(--texto-branco);
}

.topo-tabela {
  background-color: var(--tema-color);
  color: var(--texto-branco);
  font-size: 22px;
  font-weight: 800;
}

.corpo-tabela {
  font-size: 20px;
}

.sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: linear-gradient(#0d8eb6, #095268);
  overflow-x: hidden;
  padding-top: 60px;
  width: 20vw;
  max-width: 300px;
  transition: 2s;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.side-itens {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2%;
}

.side-itens span {
  margin-left: 2vw;
}

.side-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  height: 10%;
  width: 90%;
  border-radius: 10px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #0e7b9c;
  color: var(--texto-branco);
  font-weight: 500;
}

.side-box {
  display: flex;
  justify-content: space-between;
}

.side-option:hover {
  color: #0e7b9c;
  background-color: #0d87ac;
  transition: 0.3s;
}

.side-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.side-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2vh;
  left: 2vh;
}

.side-name {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.side-image {
  width: 7vh;
  height: 7vh;
  margin-right: 1vw;
  border-radius: 100px;
  border: 3px solid var(--texto-branco);
  background-color: var(--texto-secundario);
}

.sidenav a:hover {
  color: var(--bg-color);
}

.close-btn {
  position: absolute;
  top: 2vh;
  right: 2vh;
  width: 30px;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.perfil-container {
  background-image: linear-gradient(#353535, #141313);
  color: var(--texto-branco);
  width: 100vw;
  height: 100%;
  min-height: 100vh;
}

.perfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.perfil-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.perfil-title {
  text-align: center;
  font-size: 30px;
  color: var(--texto-branco);
  font-weight: 800;
}

.perfil-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.perfil-imagem {
  background-color: var(--texto-secundario);
  width: 7vw;
  min-width: 130px;
  height: 7vw;
  min-height: 130px;
  border-radius: 100px;
  border: 4px solid var(--tema-color);
  cursor: pointer;
}

@media (max-width: 1400px) {
  .popup {
    left: 20%;
    top: 20%;
  }

  .main-text {
    font-size: 50px;
  }

  .perfil {
    padding-top: 0;
  }
}

.error-text{
  color: red
}

.escolha-foto-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  background-color: var(--inp-color);
  padding: 4%;
  width: 100%;
  width: 45vw;
  min-width: 700px;
  height: auto;
  min-height: 100px;
  border-radius: 25px;
  overflow-y: auto;
}

.foto-box {
  background-color: var(--texto-secundario);
  width: 4vw;
  min-width: 60px;
  min-height: 60px;
  height: 4vw;
  border-radius: 10px;
  cursor: pointer;
}

.chart {
  margin-right: 2vh;
  width: 7%;
}

.foto-perfil {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

.loading-btn {
  width: 7%;
  height: 7%;
  border-radius: 100px;
}

.loading-btn-escalacao {
  width: 15%;
  height: 70%;
  border-radius: 100px;
}

.check-icon-escalacao {
  width: 15%;
  height: 70%;
  border-radius: 100px;
}

.loading-btn-cadastro {
  width: 10%;
  height: 10%;
  border-radius: 100px;
}

.foto-perfil-escolher{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.foto-side {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

.area-baixo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50vh;
}

.btn-escalar {
  color: var(--texto-branco);
  background-color: var(--tema-color);
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  height: 8vh;
  width: 20vw;
  margin-left: 1vw;
}

.btn-escalar:hover {
  color: var(--tema-color);
  background-color: var(--texto-branco);
}

.btn-escalar-desativado {
  color: var(--texto-branco);
  background-color: var(--texto-secundario);
  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;
  height: 8vh;
  width: 20vw;
  margin-left: 1vw;
}

.btn-escalar-desativado:hover {
  background-color: var(--texto-secundario);
  color: var(--texto-branco);
}

.coin {
  margin-left: 1vh;
  width: 6%;
}

.cartola-logo {
  width: 3%;
}

.logout-icon {
  width: 10%;
  margin-right: 10%;
}

.ranking-icon {
  width: 15%;
  margin-right: 8%;
}

.escalacao-icon {
  width: 12%;
  margin-right: 8%;
}

.side-text {
  font-size: 20px;
}

.username-inpt {
  border: none;
  background-color: var(--inp-color);
  border-radius: 30px;
  padding-left: 5%;
  color: var(--texto-secundario);
  border: none;
}

.username-inpt:hover {
  border: none;
  background-color: var(--inp-color);
  color: var(--texto-secundario);
}

.username-inpt:focus {
  border: none;
  background-color: var(--inp-color);
  color: var(--texto-secundario);
}

.msg-erro {
  color: red;
  font-size: 20px;
}

.erro-box {
  text-align: center;
  width: 100%;
}

.texto-principal {
  font-size: 20px;
  font-weight: 500;
}

.player-points {
  background-color: var(--inp-color);
  padding: 1% 8% 1% 8%;
  border-radius: 10px;
  margin: 0;
  border: 2px solid var(--texto-secundario);
  font-size: 15px;
}

.ponto-jg {
  font-size: 20px;
  font-weight: 700;
}

.label-ultima-partida {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
}

.div-ultima {
  width: 100%;
}
