
.App {
  background-color: #2B2C2D;
}

.Auth-form-container {
  background-color: #2B2C2D;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  font-size: 24px;
  color: #FFFF;
  font-weight: 800;
}

.Auth-form-Cadastro{
  background-color: #0F6F8D;
}

.Cadastro-form-title {
  text-align: left;
  font-size: 24px;
  color: #FFFF;
  font-weight: 800;
}

.Cadastro-form-container {
  background-color: #2B2C2D;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.inpt-dark {
  border: none;
  background-color: #141313;
}

.btn-default {
  color: #FFFF;
  background-color: #0F6F8D;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}